@import url(./font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'monti';
}

body {
    background: #EFF5F5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1344px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* header start */

.header {
    margin-bottom: 44px;
}

.header__nav .container {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.header__links {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.header__list {
    display: flex;
    column-gap: 25px;
}

.header__list-item {
    color: #626262;
    font-size: 16px;
    font-weight: 400;
    transition: .3s;
}

.header__list-item:hover {
    color: black;
}

.btn {
    width: 194px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    transition: .3s;
}

.btn:hover {
    background: #e0dfdf;
}

.intro {
    background: url(../img/circles.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 84px);
    display: flex;
    align-items: center;
}

.intro .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__title {
    color: #323232;
    font-size: 50px;
    width: 530px;
}

.intro img {
    width: 631px;
    height: 404px;
}

.download {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.download__links {
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.10);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    padding: 27px 99px;
    column-gap: 100px;
}

/* header end */

/* main start */
/* section 1 */

.currency .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency__card {
    width: 642px;
}

.currency__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.currency__globe img {
    width: 100%;
}

.currency__item {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.10);
    padding: 15px;
    max-width: 306px;
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.lines {
    width: 43px;
    margin-left: 17px;
    margin-right: 12px;
}

.currency__item .currency__img {
    border-radius: 13px;
    padding: 8px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 30px;
}

.currency__item:nth-of-type(1) .currency__img {
    background: #DA0000;
}

.currency__item:nth-of-type(3) .currency__img {
    background: #007EDA;
}

.currency__item:nth-of-type(2) .currency__img {
    background: #0083AC;
}

.currency__item:nth-of-type(4) .currency__img {
    background: #00CDDA;
}

.currency__title {
    color: #626262;
    font-size: 30px;
    margin-bottom: 32px;
}




/* section 2 */
.card,
.currency,
.credits,
.apps {
    padding-top: 25px;
    padding-bottom: 25px;
}

.card .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    color: #626262;
    font-size: 30px;
    margin-bottom: 12px;
}

.card__descr {
    color: #626262;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.visa {
    color: #626262;
    font-size: 20px;
}

.card__price {
    color: #626262;
    font-size: 16px;
    margin-bottom: 20px;
}

.card__btns {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.card__btn {
    color: #626262;
    font-size: 16px;
    transition: .5s;
    display: inline-block;
}

.card__btn:hover {
    color: black;
}

.space {
    margin-left: 30px;
}

/* section 3 */


.credits__items {
    display: flex;
    justify-content: space-between;
}

.credits__left {
    max-width: 642px;
    width: 100%;
    display: flex;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    background: #BDC4FF;
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.50);
}

.credits__title {
    color: #626262;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.xit {
    padding: 3px 16px;
    position: absolute;
    left: 23px;
    top: -10px;
    border-radius: 4px;
    border: 0.5px solid rgba(215, 215, 215, 0.30);
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(7.5px);
    color: #000;
    font-size: 12px;
}

.credits__left:nth-of-type(2) {
    background: #FFD280;
}

.credits__desc {
    max-width: 484px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.credits__desc-title {
    color: #626262;
    font-size: 20px;
}

.credits__desc-text {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
}

.credit__btn {
    margin: 0 auto;
    margin-top: 30px;
}

/* section 4 */



.apps__title {
    color: #626262;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.apps__left-title {
    color: #626262;
    font-size: 30px;
    margin: 25px 0;
}

.apps__content {
    display: flex;
    justify-content: space-between;
    min-height: 467px;
    margin-bottom: 30px;
}

.apps__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 642px;
    width: 100%;
    border-radius: 10px;
    background: #97EAB9;
    box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.40);
}

.apps__img {
    max-width: 361px;
}

.apps__img img {
    width: 100%;
}

.apps__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apps__right-desc {
    padding: 49px 35px;
    display: flex;
    max-width: 642px;
    width: 100%;
    min-height: 216px;
    align-items: center;
    justify-content: center;
    column-gap: 36px;
    border-radius: 10px;
}

.apps__right-desc:nth-of-type(1) {
    background: #FFC1BD;
    box-shadow: 0px 25px 30px -20px rgba(255, 193, 189, 0.50);
}

.apps__right-desc:nth-of-type(2) {
    background: #C1B7FF;
    box-shadow: 0px 25px 30px -25px rgba(193, 183, 255, 0.40);
    column-gap: 65px;
}

.apps__right-title {
    color: #626262;
    font-size: 30px;
}

.apps__btns {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.apps__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    width: 100%;
    height: 100px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    transition: .5s;
}

.apps__btn:hover {
    background: #e0dfdf;
}

/* end of main */

/* footer start */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 20px;
}

.footer img {
    width: 244px;
    height: 100px;
}

.footer__text {
    color: #626262;
    font-size: 20px;
}

/* footer end */